Click==7.0
csh-ldap==2.2.0
CSHLDAP==0.8
dnspython==1.16.0
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pkg-resources==0.0.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
python-ldap==3.0.0
srvlookup==2.0.0
Werkzeug==0.15.2
