body {
  background-color: #EEE
}

.navbar {
  border: none;
  @include box-shadow(0 1px 2px rgba(0, 0, 0, .3));

  &-brand {
    font-size: 24px;
    padding-left: 60px;
    background: $navbar-default-logo 11px 11px/40px 40px no-repeat;
  }

  &-user {
    @media (min-width: $grid-float-breakpoint) {
      & > a {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
      }
    }

    & a > img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 5px;
    }
  }

  &-inverse {
    .navbar-brand {
      background-image: $navbar-inverse-logo;
    }

    .navbar-form {

      input[type=text],
      input[type=password] {
        color: #fff;
        @include box-shadow(inset 0 -1px 0 $navbar-inverse-link-color);
        @include placeholder($navbar-inverse-link-color);

        &:focus {
          @include box-shadow(inset 0 -2px 0 #fff);
        }
      }
    }
  }
}

table, td, tr {
  margin-left: 35%;
  margin-right: 35%;
  border-width: 1px;
  border-color: black;
  border-style: ridge;
  border-collapse: separate;;
  width: 30%;
}

th {
  align: center;
}
